<h2> Please wait for the owner of  <%= @booking.garden.name  %> to confirm your booking </h2>
<h5> Today is <%= Date.today %> you will receive an email confirmation in the next 48 hours </h5>



<ul>
  <li><%= link_to "Delete Booking ", @booking, method: "delete"%></li>
  <li><%= link_to "Your bookings", bookings_path %></li>
  <li> <%= link_to "Make another booking", gardens_path %></li>
</ul>


