<div class="d-flex flex-wrap m-3" id="mural">
  <% @gardens.each do |garden| %>
    <div id="small-card" class="card m-3" style="width: 18rem;">
      <% if garden.image.attached? %>
        <%= cl_image_tag garden.image.key, crop: :fill, class: 'card-img' %>
      <% else %>
        <%= image_tag 'garden.jpg', crop: :fill, class: 'card-img' %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= garden.name %></h5>
        <h5 class="card-title"><%= garden.location %></h5>
        <%= link_to 'See details', garden_path(garden), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
